@font-face {
  font-family: 'proxima-nova';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/proxima-nova/Proxima-Nova-Light.otf') format('opentype');
}
@font-face {
  font-family: 'proxima-nova';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/proxima-nova/Proxima-Nova-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'proxima-nova';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/proxima-nova/Proxima Nova Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'mrs-eaves';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/mrs-eaves/mrs-eaves-bold.otf') format('opentype');
}
@font-face {
  font-family: 'mrs-eaves';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/mrs-eaves/mrs-eaves.woff2') format('woff2'),
    url('/fonts/mrs-eaves/mrs-eaves.otf') format('opentype');
}
@font-face {
  font-family: 'The Bredan Demo';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/the-bredan-demo.otf') format('opentype'),
    url('/fonts/the-bredan-demo.otf') format('opentype');
}
@font-face {
  font-family: 'Opininon';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/opininon.otf') format('opentype');
}
@font-face {
  font-family: 'Corbel';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/corbel.ttf') format('typetrue');
}
@font-face {
  font-family: 'MrsEavesOT-Roman';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/MrsEavesOT-Roman.otf') format('opentype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/montserrat-regular.ttf') format('opentype');
}
